html {
  box-sizing: border-box;
}

*,
:after,
:before {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-size: 16px;
  font-family: "Nunito Sans", sans-serif;
}

main {
  min-height: calc(100vh - 74px - 52px - 30px - 84px);
}

.contact__mobile-mobil {
  display: none;
}

.a_link {
  text-decoration: none;
  color: #ffa895;
}

.a_link:hover {
  background-color: #222;
}

.background {
  background-color: whitesmoke;
}

hr {
  margin: 0;
}

.first {
  font-size: 20px;
  font-weight: bold;
}

.hr_small {
  margin: 30px auto 30px auto;
  width: 200px;
}

.contact {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  background-color: #222;
  width: 100%;
}

.contact__mobile {
  display: none;
}

.contact__mobile-mobil {
  display: flex;
  gap: 5px;
}

.week {
  display: flex;
  gap: 10px;
}

.contact_opened {
  display: inline-block;
}

.contact_title {
  margin: 0;
  font-weight: bold;
  color: white;
}

.contact_content {
  margin: 0;
  color: white;
}

@media screen and (min-width: 600px) {
  .contact__mobile {
    display: inline-block;
  }

  .contact__mobile-mobil {
    display: none;
  }
}
.menu_checkbox {
  position: absolute;
  left: -9999px;
}

.menu_list {
  display: none;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #222;
}

.menu_item {
  border-bottom: 1px solid white;
}

.menu_link {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: whitesmoke;
  font-size: 15px;
}

.menu_link_first {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: whitesmoke;
  font-size: 20px;
  font-family: "Satisfy", cursive;
  color: #ffa895;
}

.menu_link:hover {
  background-color: #ffa895;
  color: #222;
}

.menu_checkbox:checked ~ .menu_list {
  display: block;
}

.menu_toggler {
  display: block;
  color: white;
  background-color: #222;
}

@media screen and (min-width: 600px) {
  .menu_toggler {
    display: none;
  }

  .menu_list {
    display: flex;
    justify-content: center;
  }

  .menu_item {
    border-bottom: 0;
  }

  .menu_item:not(:last-child) {
    border-right: 1px solid white;
  }

  .menu_link {
    font-size: 20px;
  }
}
footer {
  position: relative;
  bottom: 0;
  padding: 15px;
  width: 100%;
  text-align: center;
  background-color: #222;
}

.footer__copyright {
  color: white;
}

.offer_personal,
.offer_group,
.offer_food {
  margin: 15px auto;
  width: calc(100% - 20px);
  max-width: 300px;
}

.offer_personal,
.offer_group,
.offer_food {
  position: relative;
  overflow: hidden;
  width: 300px;
  height: 300px;
  outline: 1px solid black;
  border-radius: 5%;
}

.offer_text {
  position: absolute;
  bottom: 0;
  padding: 10px 0;
  margin: 0;
  width: 100%;
  text-align: center;
  background-color: #ffa895;
  opacity: 0.6;
  color: black;
  font-weight: bold;
}

.offer_img {
  -o-object-fit: cover;
     object-fit: cover;
  transition: transform 0.75s;
}

.offer_img:hover {
  transform: scale(1.15);
}

@media screen and (min-width: 700px) {
  .offer {
    display: flex;
    justify-content: center;
    gap: 20px;
  }

  .offer_personal,
.offer_group,
.offer_food {
    margin: 0;
  }
}
.wrap_img {
  line-height: 0;
}

.main_photo {
  width: 100%;
  max-height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  gap: 30px;
}

.album {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  justify-items: center;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.album_photo {
  padding: 5px;
  margin: 0;
}

.album img {
  width: 100%;
  border-radius: 5%;
}

@media screen and (min-width: 600px) {
  .wrap_program img {
    width: calc(100% - 200px);
  }

  .wrap_program {
    margin: 10px;
  }
}
.view {
  margin: auto;
  padding: 0 10px;
}

@media screen and (min-width: 700px) {
  .view {
    margin: auto;
    width: calc(100% - 100px);
  }
}
.title {
  margin: 15px auto;
  text-align: center;
}

.title_main {
  margin: 0;
  font-size: 25px;
}

.title_name {
  margin: 0;
  font-family: "Satisfy", cursive;
  font-size: 80px;
  color: #ffa895;
}

.text_text {
  margin: auto;
  text-align: center;
  width: calc(100% - 200px);
  /* background-color: value.$white; */
}

.text_head {
  margin: 0;
  padding: 30px 0 0 0;
  text-align: center;
  font-weight: bold;
  font-size: 30px;
}

.text__head {
  margin-bottom: 0;
  text-align: center;
  padding-bottom: 30px;
}

.text_text {
  margin-top: 15px;
  /*  margin-bottom: value.$spacer * 2; */
}

@media screen and (min-width: 700px) {
  .title {
    margin: 30px;
  }

  .title_main {
    font-size: 35px;
  }

  .title_name {
    font-size: 90px;
  }

  .text {
    text-align: justify;
  }
}
.meet {
  text-align: center;
}

.meet_coach {
  margin: 30px;
}

.foto_coach,
.foto_coach_jahodova {
  width: 300px;
  border-radius: 5%;
}

.coach_name {
  margin: 10px 0 0 0;
  font-weight: bold;
  font-size: 30px;
}

.coach_tale {
  margin: 10px 0;
  font-style: italic;
}
.coach_tale .coach_normal {
  margin-top: 10px;
  font-style: normal;
}

@media screen and (min-width: 700px) {
  .meet_coach {
    display: flex;
    margin: 60px;
    align-items: center;
    gap: 30px;
  }

  .foto_coach_jahodova {
    order: 1;
  }
}
.tab_item {
  margin: 30px 30px 0 0;
  text-align: center;
}

.tab_main {
  margin: 10px 0;
  font-weight: bold;
}

.tab__main {
  display: flex;
  justify-content: center;
  gap: 15px;
}

@media screen and (min-width: 600px) {
  .tab_price {
    display: grid;
    grid-template-columns: repeat(3, auto);
    margin: 0;
    align-items: center;
    justify-content: center;
  }
}
.tab_main {
  font-weight: bold;
  font-size: 20px;
}

.tab_title {
  font-weight: bold;
}

.tab_photo {
  width: 300px;
  border-radius: 5%;
  border: 1px solid #222;
}

@media screen and (min-width: 600px) {
  .tab {
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-items: space-between;
    align-items: center;
    justify-content: center;
  }
}
.group {
  text-align: center;
}

.group_main {
  margin: 30px;
}

.group_name {
  margin: 0;
  font-weight: bold;
  font-size: 30px;
}

.foto_group,
.foto_group_dif {
  width: 300px;
  border-radius: 5%;
}

.group_tale {
  margin: 10px 0;
}

.group_normal {
  margin-top: 10px;
  font-style: normal;
}

@media screen and (min-width: 700px) {
  .group_main {
    display: flex;
    margin: 60px;
    align-items: center;
    gap: 30px;
  }

  .foto_group_dif {
    order: 1;
  }
}
.meet_ {
  /* width: calc(100% - 300px); */
  text-align: center;
}

.offer_main {
  margin: 15px 0;
  text-align: center;
  font-size: 30px;
  background-color: #ffa895;
  opacity: 0.75;
}

.tab__content {
  text-align: center;
}

.tab__content {
  margin: 30px;
}

.foto_terapeut {
  width: 300px;
  border-radius: 5%;
}

.meet_terapeut {
  /*  margin: value.$spacer; */
}

.meet_offer {
  margin: 0 0 30px 0;
}

.terapeut_name {
  margin: 0;
  font-weight: bold;
  font-size: 30px;
}

.terapeut_tale {
  margin: 10px 0;
  font-style: italic;
}

.food_tab {
  margin: 30px;
}

.food_wrap {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 5px;
}

@media screen and (min-width: 700px) {
  .meet_terapeut {
    /* display: flex; */
    /* margin: value.$spacer * 2; */
    align-items: center;
    gap: 30px;
  }

  .foto_terapeut {
    order: 1;
  }

  .meet_ {
    display: flex;
    margin: auto;
    gap: 30px;
    text-align: center;
    width: calc(100% - 300px);
  }

  /* display: flex;
    gap: value.$spacer/2; */
}
@media screen and (min-width: 1000px) {
  .food_wrap {
    grid-template-columns: repeat(4, minmax(200px, 1fr));
    margin: auto;
  }
}
.wrap {
  margin-top: 30px;
}

.footer_socialnetwork {
  text-decoration: none;
  color: black;
  font-size: 20px;
}

.footer_socialnetwork:hover {
  background-color: rgb(252, 176, 158);
}

.socialnetwork {
  background-color: whitesmoke;
  padding: 15px;
  text-align: center;
}

.envelope {
  margin: auto;
  border-spacing: 0;
}

.envelope_main {
  padding: 15px 0 10px 0;
  font-size: 20px;
  color: #ffa895;
  text-transform: uppercase;
}

.content_main {
  font-weight: bold;
}

.envelope_row_c {
  margin: 0;
}
.envelope_row_c .content_main,
.envelope_row_c .content_next {
  background-color: whitesmoke;
}

.content_next {
  text-align: right;
}

.content_main,
.content_next {
  padding: 7.5px;
}

@media screen and (max-width: 700px) {
  .content_main,
.content_next {
    display: block;
  }

  .content_main,
.content_next {
    text-align: center;
  }
}/*# sourceMappingURL=style.css.map */