@use "value";

html {
  box-sizing: border-box;
}

*,
:after,
:before {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-size: 16px;
  font-family: "Nunito Sans", sans-serif;
}

main {
  min-height: calc(100vh - 74px - 52px - 30px - 84px);
}

.contact__mobile-mobil {
  display: none;
}

.a_link {
  text-decoration: none;
  color: rgb(252, 176, 158);
}

.a_link:hover {
  background-color: value.$lightblack;
}

.background {
  background-color: value.$white;
}

hr {
  margin: 0;
}
