@use "value";

.meet {
  text-align: center;
}

.meet_coach {
  margin: value.$spacer;
}

.foto_coach,
.foto_coach_jahodova {
  width: 300px;
  border-radius: 5%;
}

.coach_name {
  margin: value.$spacer/3 0 0 0;
  font-weight: bold;
  font-size: value.$spacer;
}

.coach_tale {
  margin: value.$spacer/3 0;
  font-style: italic;

  .coach_normal {
    margin-top: value.$spacer/3;
    font-style: normal;
  }
}

@media screen and(min-width: 700px) {
  .meet_coach {
    display: flex;
    margin: value.$spacer * 2;
    align-items: center;
    gap: value.$spacer;
  }

  .foto_coach_jahodova {
    order: 1;
  }
}
