@use "value";

.tab_item {
  margin-top: value.$spacer;
  text-align: center;
}

.tab_main {
  font-weight: bold;
  font-size: 20px;
  margin: value.$spacer/3 0;
  font-weight: bold;
}

.tab__main {
  display: flex;
  justify-content: center;
  gap: value.$spacer/2;
}

.tab_title {
  font-weight: bold;
}

.tab_photo {
  width: 300px;
  border-radius: 5%;
  border: 1px solid value.$lightblack;
}

@media screen and (min-width: 600px) {
  .tab {
    display: grid;
    grid-template-columns: repeat(2, minmax(200px, auto));
    align-items: center;
    justify-content: center;
  }
}
