@use "value";

.envelope {
  margin: auto;
  border-spacing: 0;
}

.envelope_main {
  padding: value.$spacer/2 0 value.$spacer/3 0;
  font-size: value.$spacer/1.5;
  color: value.$red;
  text-transform: uppercase;
}

.envelope_row_c {
  margin: 0;

  .content_main,
  .content_next {
    background-color: value.$white;
  }
}

.content_main {
  font-weight: bold;
}
.content_next {
  text-align: right;
}

.content_main,
.content_next {
  padding: value.$spacer/4;
}

@media screen and (max-width: 700px) {
  .content_main,
  .content_next {
    display: block;
    text-align: center;
  }
}
