@use "value";

footer {
  position: relative;
  bottom: 0;
  padding: value.$spacer/2;
  width: 100%;
  text-align: center;
  background-color: value.$lightblack;
}

.footer__copyright {
  color: white;
}
