@use "value";

.meet_ {
  text-align: center;
}

.foto_terapeut {
  width: 300px;
  border-radius: 5%;
}

.meet_terapeut {
  margin: value.$spacer;
}

.terapeut_name {
  margin: 0;
  font-weight: bold;
  font-size: value.$spacer;
}

.terapeut_tale {
  margin: value.$spacer/3 0;
  font-style: italic;
}

@media screen and (min-width: 700px) {
  .meet_terapeut {
    display: flex;
    margin: value.$spacer * 2;
    align-items: center;
    gap: value.$spacer;
  }

  .foto_terapeut {
    order: 1;
  }

  .meet_ {
    margin: auto;
    text-align: center;
    width: calc(100% - 100px);
  }
}
