@use "value";

.meet_ {
  text-align: center;
}

.offer_main {
  margin: value.$spacer/2 0;
  text-align: center;
  font-size: value.$spacer;
  background-color: value.$red;
  opacity: 0.75;
}

.tab__content {
  text-align: center;
}

.tab__content {
  margin: value.$spacer;
}

.foto_terapeut {
  width: 300px;
  border-radius: 5%;
}

.meet_offer {
  margin: 0 0 value.$spacer 0;
}

.terapeut_name {
  margin: value.$spacer/3 0 0 0;
  font-weight: bold;
  font-size: value.$spacer;
}

.terapeut_tale {
  margin: value.$spacer/3 0;
  font-style: italic;
}

.food_tab {
  margin: value.$spacer;
}

.food_wrap {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 5px;
}

@media screen and (min-width: 700px) {
  .meet_terapeut {
    align-items: center;
    gap: value.$spacer;
  }

  .foto_terapeut {
    order: 1;
  }

  .meet_ {
    display: flex;
    margin: auto;
    gap: 30px;
    text-align: center;
    width: calc(100% - 300px);
  }
}

@media screen and (min-width: 1000px) {
  .food_wrap {
    grid-template-columns: repeat(4, minmax(200px, 1fr));
    margin: auto;
  }
}
