@use "value";

.contact {
  display: flex;
  justify-content: space-between;
  padding: value.$spacer/2;
  background-color: value.$lightblack;

  .week {
    display: flex;
    gap: 10px;
  }

  .contact_opened {
    display: inline-block;
  }

  .contact_title {
    margin: 0;
    font-weight: bold;
    color: white;
  }

  .contact_content {
    margin: 0;
    color: white;
  }
}
