@use "value";

////////// ÚVOD
.title {
  margin: value.$spacer/2 auto;
  text-align: center;
}

.title_main {
  margin: 0;
  font-size: 25px;
}

.title_name {
  margin: 0;
  font-family: "Satisfy", cursive;
  font-size: 80px;
  color: value.$red;
}

.offer_personal,
.offer_group,
.offer_food {
  margin: value.$spacer/2 auto;
  width: calc(100% - 20px);
  max-width: 300px;
}

.offer_personal,
.offer_group,
.offer_food {
  position: relative;
  overflow: hidden;
  width: 300px;
  height: 300px;
  outline: 1px solid black;
  border-radius: 5%;
}

.offer_text {
  position: absolute;
  bottom: 0;
  padding: 10px 0;
  margin: 0;
  width: 100%;
  text-align: center;
  background-color: value.$red;
  opacity: 0.6;
  color: black;
  font-weight: bold;
}

.offer_img {
  object-fit: cover;
  transition: transform 0.75s;
}

.offer_img:hover {
  transform: scale(1.15);
}

@media screen and (min-width: 700px) {
  .offer {
    display: flex;
    justify-content: center;
    gap: value.$spacer/1.5;
  }

  .offer_personal,
  .offer_group,
  .offer_food {
    margin: 0;
  }
}
