@use "value";

.menu_checkbox {
  position: absolute;
  left: -9999px;
}

.menu_list {
  display: none;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: value.$lightblack;
}

.menu_item {
  border-bottom: 1px solid white;
}

.menu_link {
  display: block;
  padding: value.$spacer/3;
  text-decoration: none;
  color: value.$white;
  font-size: value.$spacer/2;
}

.menu_link_first {
  display: block;
  padding: value.$spacer/3;
  text-decoration: none;
  color: value.$white;
  font-size: value.$spacer/1.5;
  font-family: "Satisfy", cursive;
  color: value.$red;
}

.menu_link:hover {
  background-color: value.$red;
  color: value.$lightblack;
}

.menu_checkbox:checked ~ .menu_list {
  display: block;
}

.menu_toggler {
  display: block;
  color: white;
  background-color: value.$lightblack;
}

@media screen and (min-width: 600px) {
  .menu_toggler {
    display: none;
  }

  .menu_list {
    display: flex;
    justify-content: center;
  }

  .menu_item {
    border-bottom: 0;
  }

  .menu_item:not(:last-child) {
    border-right: 1px solid white;
  }

  .menu_link {
    font-size: value.$spacer/1.5;
  }
}
