@use "value";

.menu {
  background-color: value.$lightblack;
}

.menu_list {
  margin: 0;
  padding: 2px;
  display: flex;
  justify-content: center;
  list-style: none;
  gap: value.$spacer;
}

.menu_link {
  padding: value.$spacer;
  text-decoration: none;
  color: black;
  font-size: 30px;
}
