@use "value";

//fotky fitcentra
.album {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  justify-items: center;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.album_photo {
  padding: 5px;
  margin: 0;
}

.album img {
  width: 100%;
  border-radius: 5%;
}
