@use "value";

.tab_item {
  margin: value.$spacer value.$spacer 0 0;
  text-align: center;
}

.tab_main {
  margin: value.$spacer/3 0;
  font-weight: bold;
}

.tab__main {
  display: flex;
  justify-content: center;
  gap: value.$spacer/2;
}

@media screen and (min-width: 600px) {
  .tab_price {
    display: grid;
    grid-template-columns: repeat(3, auto);
    margin: 0;
    align-items: center;
    justify-content: center;
  }
}
