@use "value";

/////////////////
.text_text {
  margin: auto;
  text-align: center;
  width: calc(100% - 100px);
  margin-top: value.$spacer/2;
}

.first {
  font-size: 20px;
  font-weight: bold;
}

@media screen and (min-width: 700px) {
  .title {
    margin: value.$spacer;
  }

  .title_main {
    font-size: 35px;
  }

  .title_name {
    font-size: 90px;
  }
  .text {
    text-align: justify;
  }
}
