@use "value";

.envelope {
  margin: auto;
}

.envelope_main {
  margin-top: value.$spacer/3;
  font-size: value.$spacer/1.5;
  color: value.$red;
  text-transform: uppercase;
}

.content_main {
  font-weight: bold;
}

.envelope_row_c {
  background-color: value.$white;
}
