$spacer: 30px;
$backcolor: whitesmoke;

html {
  box-sizing: border-box;
}
*,
:after,
:before {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Nunito Sans", sans-serif;
}

//MOBILE FIRST- DODĚLAT

//hlavička
.contact {
  display: flex;
  justify-content: space-between;
  padding: $spacer/2;
  background-color: #222;

  .week {
    display: flex;
    gap: 10px;
  }

  .contact_opened {
    display: inline-block;
  }

  .contact_title {
    margin: 0;
    font-weight: bold;
    color: white;
  }

  .contact_content {
    margin: 0;
    color: white;
  }
}

//úvodní stránka_NADPIS_FOTO
.title {
  margin: $spacer 0;
  text-align: center;

  .title_main {
    margin: 0;
    font-size: 50px;
  }

  .title_name {
    margin: 0;
    font-size: 100px;
  }
}

.offer {
  display: flex;
  justify-content: center;
  gap: $spacer;
}

.offer_personal,
.offer_group,
.offer_food {
  width: 330px;
  height: 330px;
  outline: 1px solid black;
  border-radius: 5%;
  position: relative;
  overflow: hidden;
}

.offer_text {
  position: absolute;
  bottom: 1px;
  width: 100%;

  padding: 10px 0;
  margin: 0;
  text-align: center;
  background-color: whitesmoke;
  opacity: 0.5;
  color: black;
  font-weight: bold;
}

.offer_img {
  object-fit: cover;
  transition: transform 0.75s;
}

.offer_img:hover {
  transform: scale(1.15);
}

//patička
footer {
  /* position: absolute;
  bottom: 0; */
  padding: $spacer/2;
  width: 100%;
  text-align: center;
  background-color: #222;
}

.footer__copyright {
  color: white;
}

.footer_socialnetwork {
  text-decoration: none;
  color: black;
}

.socialnetwork {
  padding: $spacer/2;
  margin-top: $spacer;
  text-align: center;
  background-color: $backcolor;
}
