<!DOCTYPE html>
<html lang="en">
  {% include 'partial/head.njk' %}

  <body>
    <!-- hlavička -->

    {% include 'partial/header.njk' %}

    <!-- uvodní foto -->
    <div class="wrap_img">
      <img
        class="main_photo"
        src="/images/main_food_crop.jpg"
        alt="Úvodní fotka"
      />
    </div>

    <!-- menu -->
    {% include 'partial/menu_food.njk' %}

    <!-- hlavní obsah -->

    <main>
      {{ content | safe }}
    </main>

    <!-- sociální sítě -->
    {% include 'partial/social_network.njk' %} {% include 'partial/footer.njk'
    %}
  </body>
</html>
