<header>
  <div class="contact">
    <div class="contact__mobile">
      <p class="contact_title">Mobil</p>
      <p class="contact_content">+420 627 817</p>
    </div>

    <div class="contact__opened">
      <div class="week">
        <p class="contact_title">PO - PÁ</p>
        <p class="contact_content">7:00 - 22:00</p>
      </div>

      <div class="week">
        <p class="contact_title">SO - NE</p>
        <p class="contact_content">6:00 - 20:00</p>
      </div>
    </div>

    <div class="contact__where">
      <p class="contact_title">Frýdek - Místek 62</p>

      <div class="contact__mobile-mobil">
        <p class="contact_title">Mobil</p>
        <p class="contact_content">+736 627 817</p>
      </div>
    </div>
  </div>
</header>
