<nav class="menu">
  <ul class="menu_list">
    <li class="menu_item"><a href="/" class="menu_link">Úvod</a></li>
    <li class="menu_item">
      <a href="/group_workout/group_main/" class="menu_link">Skupinové lekce</a>
    </li>
    <li class="menu_item">
      <a href="/group_workout/group_program/" class="menu_link">Program</a>
    </li>
    <li class="menu_item">
      <a href="/group_workout/group_price/" class="menu_link">Ceník</a>
    </li>
    <li class="menu_item">
      <a href="/group_workout/group_contact/" class="menu_link">Kontakt</a>
    </li>
  </ul>
</nav>
