<nav class="menu">
  <ul class="menu_list">
    <li class="menu_item"><a href="/" class="menu_link">Úvod</a></li>
    <li class="menu_item">
      <a href="/personal_main/" class="menu_link">Osobní tréninky</a>
    </li>
    <li class="menu_item">
      <a href="/personal_coach/" class="menu_link">Trenéři</a>
    </li>
    <li class="menu_item">
      <a href="/personal_price/" class="menu_link">Ceník</a>
    </li>
    <li class="menu_item">
      <a href="/personal_contact/" class="menu_link">Kontakt</a>
    </li>
  </ul>
</nav>
