<nav class="menu">
  <input type="checkbox" class="menu_checkbox" id="menu-checkbox" />
  <label for="menu-checkbox" class="menu_toggler">☰ Menu </label>

  <ul class="menu_list">
    <li class="menu_item">
      <a class="menu_link" href="/">Úvod</a>
    </li>
  </li>
  <li class="menu_item">
    <a class="menu_link" href="/group_workout/group_main/"
      >Skupinové cvičení</a
    >
  </li>
    <li class="menu_item">
      <a class="menu_link" href="/group_workout/group_program/">Program</a>
    </li>
    <li class="menu_item">
      <a class="menu_link" href="/group_workout/group_price/">Ceník</a>
    </li>

    <li class="menu_item">
      <a class="menu_link" href="/group_workout/group_contact/">Kontakt</a>
    </li>
  </ul>
</nav>
