<nav class="menu">
  <input type="checkbox" class="menu_checkbox" id="menu-checkbox" />
  <label for="menu-checkbox" class="menu_toggler">☰ Menu </label>

  <ul class="menu_list">
    <li class="menu_item">
      <a class="menu_link" href="/">Úvod</a>
    </li>
    <li class="menu_item">
      <a class="menu_link" href="/food/food_main/">Výživové poradenství</a>
    </li>
    <li class="menu_item">
      <a class="menu_link" href="/food/food_price/">Ceník</a>
    </li>

    <li class="menu_item">
      <a class="menu_link" href="/food/food_contact/">Kontakt</a>
    </li>
  </ul>
</nav>
