<nav class="menu">
  <ul class="menu_list">
    <li class="menu_item"><a href="/" class="menu_link">Úvod</a></li>
    <li class="menu_item">
      <a href="/food/food_main/" class="menu_link">Výživové poradenství</a>
    </li>
    <li class="menu_item">
      <a href="/food/food_price/" class="menu_link">Ceník</a>
    </li>
    <li class="menu_item">
      <a href="/food/food_contact/" class="menu_link">Kontakt</a>
    </li>
  </ul>
</nav>
