<nav class="menu">
  <input type="checkbox" class="menu_checkbox" id="menu-checkbox" />
  <label for="menu-checkbox" class="menu_toggler">☰ Menu</label>

  <ul class="menu_list">
    <li class="menu_item">
      <a class="menu_link" href="/">Úvod</a>
    </li>
    <li class="menu_item">
      <a class="menu_link" href="/personal_training/personal_main/"
        >Osobní tréninky</a
      >
    </li>
    <li class="menu_item">
      <a class="menu_link" href="/personal_training/personal_coach/">Trenéři</a>
    </li>
    <li class="menu_item">
      <a class="menu_link" href="/personal_training/personal_price/">Ceník</a>
    </li>

    <li class="menu_item">
      <a class="menu_link" href="/personal_training/personal_contact/"
        >Kontakt</a
      >
    </li>
  </ul>
</nav>
