<div class="wrap">
  <hr />
  <div class="socialnetwork">
    <a href="https://www.facebook.com/" class="footer_socialnetwork">
      Facebook
    </a>
    <br />
    <a href="https://www.instagram.com/" class="footer_socialnetwork">
      Instagram
    </a>
  </div>
</div>
